.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

.Homecard {
    border: 5px solid white;
    height: 500px;
    width: 700px;
    background-color: #4CAF50;
    margin-left: 400px;
}

#block1{
  border: 5px solid white;
  height: 500px;
  width: 700px;
  background-color: #4CAF50;
  margin-left: 400px;
}

.CardItem1{
  margin-left: 80px;
}

.CardItem2{
  margin-top: 200px;
  margin-left: 280px;
}

.inputfile {
	width: 0.2px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
  cursor: pointer;
  width: 200px;
  padding-left: 40px;
  margin-left: -55px;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: red;
}