<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/style.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="{{url_for('static', filename='js/scripts.js')}}"></script>
<!-- <body style="background-image: url('/static/img/green_back_main.png');"> --> 
<!-- Add Black background Image for improving UI later.-->
<body style="background-color: black;">
<div class="topnav">
    <a class="tablinks" onmouseover="showContent(event,'Fileuploadcontent')">Home</a>
    <a class="tablinks" onmouseover="showContent(event,'Aboutcontent')">About</a>
    <a class="tablinks" onmouseover="showContent(event,'Contactcontent')">Contact</a>
</div>
<br><br><br><br>
<div id="block2">
    <div id="Fileuploadcontent" class='tabcontent'>
        <h1> You selected the File : {{ filename }}</h1>    
        <h1> Rows in file : {{ random_value }}</h1>
        <h1> Columns/Features in file : {{ random_value2 }}</h1>
    </div>
    <div id="Aboutcontent" class="tabcontent">
    <h1>How to use this application</h1>
    </div>
    <div id="Contactcontent" class="tabcontent">
        <h1>My Contact Information</h1>
    </div>
</div>


</body>

<!-- <h1> You selected the File : {{ filename }}</h1>
<h1> Rows in file : {{ random_value }}</h1>
<h1> Columns/Features in file : {{ random_value2 }}</h1>
<form action="/results_action" method='post'>
    <label for="traincols">Number of training rows (example 0-5):</label><br>
    <input type="text" name="traincols"><br>
    <label for="testcol">Number of testing rows (example 6-10):</label><br>
    <input type="text" name="testcol"><br><br>
    <h3>Check accuracy for the following algorithms</h3>
    <input type="checkbox" id="NV" value="NV" name="options">
    <label for="NV"> Naive Bayes</label><br>
    <input type="checkbox" id="kNN" value="kNN" name="options">
    <label for="kNN"> k-Nearest neighbours</label><br>
    <input type="checkbox" id="svc" value="SVC" name="options">
    <label for="svc"> Linear SVC</label><br>
    <input type="checkbox" id="dtree" value="DTree" name="options">
    <label for="dtree"> Decision Trees</label><br>
    <input type="checkbox" id="rf" value="RF" name="options">
    <label for="rf"> Random Forest</label><br>
    <input type="submit" value="Submit">
</form>  -->