<h1> You selected the File : {{ filename }}</h1>
<h1> Rows in file : {{ random_value }}</h1>
<h1> Columns/Features in file : {{ random_value2 }}</h1>
<form action="/results_action" method='post'>
    <label for="traincols">Number of training rows (example 0-5):</label><br>
    <input type="text" name="traincols"><br>
    <label for="testcol">Number of testing rows (example 6-10):</label><br>
    <input type="text" name="testcol"><br><br>
    <h3>Check accuracy for the following algorithms</h3>
    <input type="checkbox" id="NV" value="NV" name="options">
    <label for="NV"> Naive Bayes</label><br>
    <input type="checkbox" id="kNN" value="kNN" name="options">
    <label for="kNN"> k-Nearest neighbours</label><br>
    <input type="checkbox" id="svc" value="SVC" name="options">
    <label for="svc"> Linear SVC</label><br>
    <input type="checkbox" id="dtree" value="dtree" name="options">
    <label for="dtree"> Decision Trees</label><br>
    <input type="submit" value="Submit">
</form> 