<h1> You selected the File : {{ filename }}</h1>
<h1> Rows in file : {{ random_value }}</h1>
<h1> Columns/Features in file : {{ random_value2 }}</h1>
<form action="/results_action" method='post'>
    <label for="trainrows">Number of training rows (example 0-5):</label><br>
    <input type="text" name="trainrows"><br>
    <label for="testrows">Number of testing rows (example 6-10):</label><br>
    <input type="text" name="testrows"><br><br>
    <h3>Check accuracy for the following algorithms</h3>
    <input type="checkbox" id="NV" name="Naive">
    <label for="NV"> Naive Bayes</label><br>
    <input type="checkbox" id="kNN" name="kNN">
    <label for="kNN"> k-Nearest neighbours</label><br>
    <input type="checkbox" id="svc" name="svc">
    <label for="svc"> Linear SVC</label><br>
    <input type="submit" value="Submit">
</form> 