<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/style.css') }}">
<!-- <body style="background-image: url('/static/img/green_back_main.png');"> --> 
<!-- Add Black background Image for improving UI later.-->
<body style="background-color: black;">
<div class="topnav">
    <a class="active">Home</a>
    <a>About</a>
    <a>Contact</a>
</div>
<br><br><br><br>
<div class="Homecard">
    <div class="CardItem1">
        <h1>Welcome to the CSV Analyzer</h1>
    </div>
    <div class="CardItem2">
    <form action="form_action" method="post" enctype="multipart/form-data">
        <input type="file" id="file" name="file" class="inputfile">
        <label for="file">Choose a file</label><br><br><br><br>
        <input type="submit" value="Submit">
    </form>
    </div>
</div>

</body>
<!-- TODO: Add email, File upload and submit button fields.  -->