<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/style.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- <body style="background-image: url('/static/img/green_back_main.png');"> --> 
<!-- Add Black background Image for improving UI later.-->
<script type="text/javascript">
    function toggle_to_about(){
        if (document.getElementsByClassName("Homecard")){
            document.getElementsByClassName("Homecard").class = "Homecard2";
        }
    }
</script>
<body style="background-color: black;">
<div class="topnav">
    <a class="tablinks" onclick="showContent('Home')">Home</a>
    <a class="tablinks" onclick="showContent('About')">About</a>
    <a class="tablinks" onclick="showContent('Contact')">Contact</a>
</div>
<br><br><br><br>
<div id="block1">
    <div class="CardItem1">
        <h1>Welcome to the CSV Analyzer</h1>
    </div>
    <div class="CardItem2">
    <form action="form_action" method="post" enctype="multipart/form-data">
        <input type="file" id="file" name="file" class="inputfile">
        <label for="file">Choose a file</label><br><br><br><br>
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
    </div>
</div>
<!-- <div class="Homecard2" id="block2">
    <h1>How to use this application</h1>
</div> -->

</body>
<!-- TODO: Add email, File upload and submit button fields.  -->