<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/style.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- <body style="background-image: url('/static/img/green_back_main.png');"> --> 
<!-- Add Black background Image for improving UI later.-->
<script type="text/javascript">
    function showContent(evt,tabName){
        var i, tabcontent, tablinks;

        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
<body style="background-color: black;">
<div class="topnav">
    <a class="tablinks" onclick="showContent(event,'Homecontent')">Home</a>
    <a class="tablinks" onclick="showContent(event,'Aboutcontent')">About</a>
    <a class="tablinks" onclick="showContent(event,'Contactcontent')">Contact</a>
</div>
<br><br><br><br>
<div id="block1">
    <div id="Homecontent" class='tabcontent'>
    <div class="CardItem1">
        <h1>Welcome to the CSV Analyzer</h1>
    </div>
    <div class="CardItem2">
    <form action="form_action" method="post" enctype="multipart/form-data">
        <input type="file" id="file" name="file" class="inputfile">
        <label for="file">Choose a file</label><br><br><br><br>
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
    </div>
    </div>
    <div id="Aboutcontent" class="tabcontent">
    <h1>How to use this application</h1>
    </div>
    <div id="Contactcontent" class="tabcontent">
        <h1>My Contact Information</h1>
    </div>
</div>


</body>
<!-- TODO: Add email, File upload and submit button fields.  -->